.image-container {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    background-color: #d6d6d6;
    border: solid 2px black;
    height: 40vh;
    width: 100%;
    background-image: url('../../assets/background_Image.png');
}

.content-button {
    margin-bottom: 5%;
    margin-right: 5%;
}